div {
  max-width: 400px;
  border-radius: 15px;
  background-color: rgb(244, 233, 233);
}

ul {
  padding: 40px;
  list-style: none;
}

.book {
  color: brown;
  font-weight: 700;
  font-size: 20px;
}

p {
  color: rgb(27, 28, 27);
  font-weight: 400;
  font-size: 18px;
}
