body {
  max-width: 700px;
  font-size: 20px;
  margin: 0 auto;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 20px 0;
  border: 2px solid rgb(235, 217, 209);
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(250, 249, 249);
}

.post {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin-top: 20px;
  border: 2px solid rgb(202, 200, 240);
  border-radius: 15px;
}

.img img {
  width: 50px;
  height: 50px;
}

.btn {
  align-self: center;
  margin-left: 20px;
  padding: 10px;
  cursor: pointer;
  color: aliceblue;
  background-color: rgb(203, 65, 65);
  border: none;
  border-radius: 18px;
}

.h2 {
  font-size: 22px;
  text-align: center;
  color: brown;
}

ul {
  max-width: 450px;
  border: 2px solid sandybrown;
  border-radius: 15px;
  margin: 30px 0;
}
li {
  list-style: none;
  margin: 10px 0;
}

.span {
  font-weight: 700;
}

.user {
  font-size: 20px;
  font-weight: 700;
}
