body {
  max-width: 700px;
  font-size: 20px;
  margin: 0 auto;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 20px auto;
  border: 2px solid rgb(235, 217, 209);
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(250, 249, 249);
}

.button {
  align-self: center;
  margin-left: 20px;
  padding: 10px;
  cursor: pointer;
  color: aliceblue;
  font-size: 15px;
  font-weight: 700;
  background-color: rgb(184, 158, 158);
  border: none;
  border-radius: 18px;
}

.button:hover {
  background-color: rgb(182, 130, 61);
}

.wrapper {
  margin: 0 auto;
  width: 500px;
}

ul {
  max-width: 500px;
  border: 2px solid sandybrown;
  border-radius: 15px;
  margin: 30px 0;
}

li {
  margin: 20px auto;
  list-style: none;
  margin: 20px 0 20px 120px;
}

.span {
  font-weight: 700;
}
