body {
  max-width: 80%;
  font-size: 20px;
  margin: 0 auto;
}

#root {
  margin: 20px 0;
  border: 2px solid chocolate;
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(250, 249, 249);
}

h1 {
  text-align: center;
}

ul {
    border: 2px solid sandybrown;
    border-radius: 15px;
    margin: 30px 0;
}
li {
  list-style: none;
  margin: 10px 0;
}

.span {
  font-weight: 700;
}
